.buyContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    background-color: antiquewhite;
    padding: 1rem;
    padding-bottom: 50vh;
}
.backToCartDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}
.buyContainer h2 {
    display: block;
}
.buyContainer textarea {
    resize: none;
    width: 100%;
    height: 5rem;
}
.shippingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.shippingForm label {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.theForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.shippingForm input {
    width: 100%;
}
.step1Button{
    width: 100%;
}
.customLoader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #0077ff;
    border-radius: 5%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
.retirarCheck {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.checkbox {
    max-width: fit-content;
}
.warning {
    color: red;
}
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }