.notifMessageContainer{
    display: flex;
    max-width: 18rem;
    position: absolute;
    top: 0rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    transition: slide 4s;
    border: 1px solid rgba(0, 0, 0, 0.500);
    border-radius: 15px;
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.927);
}
@keyframes slide {
    
}
.notifMessage{
    margin: 0;
    padding: 0;
}