.landingContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    place-items: center;
    justify-content: center;
}
.customloader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #0077ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.landingMenu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 500px;
    height: 700px;
    max-width: 500px;
    overflow: scroll;
    overflow-x: hidden;
    background: rgb(218,210,188,0.9);
}
.landingForm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.landingBottom{
    display:flex;
    justify-content: center;
    max-width: 500px;
    width: 500px;
    height: 100px;
    position:absolute;
    bottom: 50px;
    right: 0px;
}
.logoMueblesLanding{
    max-width: 100px;
}
.accessButton{
    background-color: #70798C;
    width: 100px;
    padding: 6px;
    color:#F5F1ED;
    border: 1px solid black;
    border-radius: 3px;
}
.accessButton:hover{
    background-color: #abb8d4;
    cursor: pointer;
}
.accessButtonBlock{
    background-color: #70798C;
    width: 100px;
    padding: 6px;
    color: #b3afac;
    border: 1px solid black;
    border-radius: 3px;
}
.invite{
    width: 170px;
}
.landingForm input {
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    border-bottom: 1px solid #70798C;
    padding: 2px;
}
.landingForm input:hover{
    border-bottom: 1px solid #b3c1dd;
}
.landingForm label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
}
.landingForm p,li{
    color: rgb(184, 0, 0);
    font-size: 14px;
}
.landingMenu p:hover{
    color: rgb(97, 97, 97);
    cursor: pointer;
}
.landingForm p:hover{
    color: rgb(184, 0, 0);
    cursor:default;
}