.cartContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}
.cartHeader{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.cartProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50rem;
    gap: 10px;
}