article img {
  max-width: 250px;
  max-height: 250px;
  margin-top: 10px;
}
article {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.18);
  width: 300px;
  height: 500px;
  transition: border-color 0.3s;
  cursor: pointer;
  background-color: #f5f1ed;
}
article:hover {
  border-color: black;
}
article button {
  width: 35px;
  height: 35px;
  background-color: none;
  transition: background-color 200ms;
}
article button:hover {
  background-color: #fff5d8ba;
}
.textDetail {
  text-decoration: none;
  color: inherit;
  height: 10rem;
}
.buttons {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 10px 10px;
}
.addToCart {
  width: 150px;
  padding: 10px;
  align-items: center;
}
.seeCart {
  width: 80%;
  height: 35px;
}
.see {
  justify-content: center;
  width: 100%;
}
